node_modules/
.DS_Store
builder/completed_builds/
builder/build_logs/
*.log
server.log
server-err.log
.claude/
builder/local.properties 
*.zip

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
